# 忽略環境變數檔案
.env

# 忽略 Node.js 相依套件
node_modules/

# 忽略 Python 虛擬環境
venv/

# 忽略編譯後的二進制文件
# *.exe
*.dll
*.so
*.o
*.pyc

# 忽略日誌和暫存文件
*.log
*.tmp
.DS_Store

# 忽略特定資料夾
build/
dist/

# 忽略 VSCode 設定檔
.vscode/
